<h2>You're Almost There</h2>
<p>Enter your email address and billing information to complete the signup using your instagram account:</p>
<div class="media">
  <div class="media-left">
    <img class="media-object" src="<%= @signup.instagram_profile_picture %>" height="75" width="75" />
  </div>
  <div class="media-body">
    <h4 class="media-heading">@<%= @signup.instagram_username %></h4>
  </div>
</div>
<hr />
<%= simple_form_for @signup, wrapper: :horizontal_input_group, url: update_information_signup_path(@signup), method: :put do |f| %>
  <%= f.error :base, class: 'alert alert-danger' %>
  <fieldset>
  <%= f.input :email, autofocus: true, label: "Your Email Address", as: :email %>
  </fieldset>

  <%= f.input :timezone, as: :hidden, input_html: {class: 'timezone'} %>
  <%= f.button :submit, "Make the magic happen", class: 'btn btn-primary' %>
<% end %>
